################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DepartmentAndSubDepartmentsMVC/obj
/DepartmentAndSubDepartmentsMVC/bin/Debug/net8.0
